doctype html
html(lang="en")
    include header.pug
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src='../../../js/add-review.js' defer)
        title Add Review
    body 
        p
            b Review
        input#review(type='text')
        br
        br
        button#review-button Add Review