doctype html
html(lang="en")
    head
       style.
            .ul-header {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            .li-header {
                display: inline;
                margin: 10px;
            }
    body 
        ul.ul-header
            li.li-header
                a(href='/gallery') Gallery
            li.li-header
                a(href='/gallery/add') Add Art
            li.li-header
                a(href='/logout') Logout